<!-- Senjja was built with dignity and confidence --> 
<div class="row full-width content-panel home-page-banner">
    <div class="column large-7 small-1"> 
    </div>
    <div class="column large-5 small-11 home-page-banner-caption">
        <div class="home-page-banner-caption-wrapper">
            <h1>Have amazing sex.</h1>
            <p>Gentlemen (and women), meet Senjja. Senjja is the new, simple way get and keep an erection <i>and</i> enhance your sexual experience. And Senjja works whether you have ED or not.</p>
            <a class="button standard-button" href="{{shop.url}}/products/senjja">Shop Senjja</a>
        </div>
    </div>
</div>

<!-- Social Proof --> 
<a href="{{shop.url}}/pages/medical">
    <div class="row full-width content-panel-social-proof">
        <div class="column large-12">
            <h1>"In controlled clinical trials, Senjja helped 50% of men with severe ED achieve rigidity sufficient for intercourse."  <i class="fa fa-arrow-circle-right" ></i></h1>
            <p>Dr. Anthony J Bella, MD FRCS(C), Urological Surgeon and Researcher</p>
        </div>
    </div>
</a>

<div class="row full-width content-panel home-page-customer-reviews-1"> 
    <div class="column large-6  centered-panel home-page-reviews-panel">
        <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Saved my relationship</h3>
            <span class="spr-review-header-byline"><strong>James J.</strong> on <strong>Apr 07, 2017</strong></span>
        </div>
    </div>
    <div class="column large-6 centered-panel home-page-reviews-panel">
        <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span>
            <h3 class="spr-review-header-title">Senjja works and medically makes sense</h3>
            <span class="spr-review-header-byline"><strong>Jerome and Irene</strong> on <strong>Apr 01, 2017</strong></span>
        </div>
    </div>
</div>
<div class="row full-width content-panel home-page-customer-reviews-2"> 
    <div class="column large-6 centered-panel home-page-reviews-panel">
        <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span>
            <h3 class="spr-review-header-title">Great idea, not for everyone</h3>
            <span class="spr-review-header-byline"><strong>Randy</strong> on <strong>Mar 19, 2017</strong></span>
        </div>
    </div>
    <div class="column large-6  centered-panel home-page-reviews-panel">
        <div class="spr-review-header">
            <span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
            <h3 class="spr-review-header-title">Early Adopter</h3>
            <span class="spr-review-header-byline"><strong>D. Atoui</strong> on <strong>Mar 09, 2017</strong></span>
        </div>
    </div>
</div>
<div class="row full-width ">
    <div class="column centered-panel large-12 home-page-customer-reviews-read-all">
        <p><a href="{{shop.url}}/products/senjja#productreviews">All reviews  <i class="fa fa-arrow-circle-right" ></i></a></p>
    </div>
</div>



<!-- Videos --> 
<div id="video" class="row full-width home-page-video-row" >
    <div class = "column large-12 centered-title-panel">
        <h1>Meet Senjja</h1>
        <p>Watch the video to find out why Senjja makes sex amazing.</p>
    </div>
    <!-- Introducing Senjja --> 
    <div class="column  large-12 content-video">
        <!-- From EmbedResponsively.com --> 
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; 
        overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, 
        .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class='embed-container'>    
            <iframe src='https://www.youtube.com/embed/9nYSPzVIIZQ?rel=0&showinfo=0' frameborder='0' allowfullscreen>
            </iframe>  
        </div>
    </div>
</div>

<!-- What is Senjja --> 
<div class="row full-width centered-panel home-page-what-is-senjja">
    <div class="column.large-centered large-12">
        <h1>Impossibly simple</h1>
        <p>Senjja is elegantly crafted from a single piece of soft silicone.</p>
    </div>
</div>

<!-- Senjja picture --> 
<div class="row full-width content-panel home-page-senjja-image">
    
    {% comment %}
    <div class="column large-12">
        <img src="{{ 'Senjja-001.jpg' | file_img_url: '1400x531'}}"></img>
    </div> 
    {% endcomment %}
</div>


<!-- Simple to get --> 
<div class="row full-width centered-panel home-page-how-it-works">
    <div class="column.large-centered large-12">
        <h1>Easy to get. Easy to use.</h1>
        <p>Buy Senjja here without a prescription. Slip it on and enjoy amazing sex.</p>
    </div>
</div>


<!-- First 2 icons --> 
<div class="row full-width home-page-icon-container">
    <a href="{{shop.url}}/pages/medical">
        <div class="column large-6 home-page-icon-container-column">
            <div class="home-page-icon">
                <img src="{{ 'ClinicallyProven.png' | file_img_url: '336x336'}}"/>
            </div>
            <div class="home-page-icon-caption">
                <h1>Clinically proven</h1>
                <p>Senjja is backed by clinical trials.  <i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>
    </a>
    
    <a href="{{shop.url}}/products/senjja">
        <div class="column large-6">
            <div class="home-page-icon home-page-icon-container-column">
                <img src="{{ 'BuyOnline.png' | file_img_url: '336x336'}}"/>
            </div>
            <div class="home-page-icon-caption">
                <h1>Buy privately online</h1>
                <p>No prescription is required.  <i class="fa fa-arrow-circle-right"></i></p>
            </div>
        </div>
    </a>
</div>

<!-- Second 2 icons --> 
<div class="row full-width home-page-icon-container-2">
    <a href="{{shop.url}}/pages/sideeffects">
        <div class="column large-6 home-page-icon-container-column">
            <div class="home-page-icon">
                <img src="{{ 'HealthyAlternative.png' | file_img_url: '336x336'}}"/>
            </div>
            <div class="home-page-icon-caption">
                <h1>Healthy alternative</h1>
                <p>Minimal potential side-effects.  <i class="fa fa-arrow-circle-right" ></i></p>
            </div>
        </div>
    </a>
    
    <a href="{{shop.url}}/pages/savemoney">
        <div class="column large-6">
            <div class="home-page-icon home-page-icon-container-column">
                <img src="{{ 'SaveMoney.png' | file_img_url: '336x336'}}"/>
            </div>
            <div class="home-page-icon-caption">
                <h1>Cost-effective</h1>
                <p>Save compared to prescription treatments.  <i class="fa fa-arrow-circle-right" ></i></p>
            </div>
        </div>
    </a>
</div>



<!-- Side by Side Images --> 

<div class = "row full-width home-page-feature-row">
    <div class = "column large-12 centered-title-panel">
        <h1>What's the buzz?</h1>
        <p>Why are men (and their partners) so excited about Senjja?</p>
    </div>
        <div class="column large-4 home-page-feature-column">
            <img src="{{ '800x800-7.jpg' | file_img_url: '800x800'}}"/>
            <h2>Senjja is easy.</h2>
            <p>"Senjja makes it easy to have amazing sex because I don't need to see a doctor."</p>
        </div>
        <div class="column large-4 home-page-feature-column">
            <img src="{{ '800x800-9.jpg' | file_img_url: '800x800'}}"/>
            <h2>We trust Senjja.</h2>
            <p>"We looked up Dr. Bella's credentials. We trust that Senjja isn't just another gimmick."</p>
        </div>
        <div class="column large-4 home-page-feature-column">
            <img src="{{ '800x800-10.jpg' | file_img_url: '800x800'}}"/>
            <h2>Senjja isn't a drug.</h2>
            <p>"I didn't want the risk of having to take drugs. For us Senjja is the obvious choice."</p>
        </div>
</div>

<div style="height:2px"> </div>

<!-- Shop Now --> 
<div class="row full-width content-panel-shop-now">
    <div class="column large-12">
        <h1>Don't wait</h1>
        <p>We are currently accepting pre-orders for delivery in approximately 8 weeks. Order now to reserve your delivery date.</p>
        <a class="button standard-button" href="{{shop.url}}/products/senjja">Shop Senjja</a>
    </div>
</div>
    

{% comment %}
<div class="index-sections">
  {{ content_for_index }}
</div>
{% endcomment %}
