<!-- Header banner --> 
<!-- Save Money --> 
<div class="row full-width">
    <div class="column large-6 two-panel-content-image">
        <img class="save-money-image" src="{{ 'PriceComparison600x600.jpg' | file_img_url: '600x600'}}"/>
    </div>
    <div class="column large-6 content-panel two-panel-content-image-caption save-money-caption">
        <h1>Save Money</h1>
        <p>Compared to the leading competitors, Senjja costs about a third as much per use. If you have sex twice a week, 
        you'll save $400 a year. Heck that's enough to get anyone in the mood!</p>
    </div> 
</div>

<!-- Compare Price --> 
<div class="row full-width price-comparison-row">
    <div class="column centered-panel large-12 price-comparison-title">
        <h1>Compare Alternatives</h1>
    </div>
    <div class="column large-4 content-panel price-comparison">
        <h1>Injections</h1>
        <img src="{{ 'Injections.jpg' | file_img_url: '408x296'}}"/>
        <h2>$35 per use</h2>
        <a href="https://www.drugs.com/price-guide/caverject">Ref: drugs.com&nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
   </div>
    <div class="column large-4 content-panel price-comparison">
        <h1>Drugs</h1>
        <img src="{{ 'Pills.jpg' | file_img_url: '408x296'}}"/>
        <h2>$6-10 per use</h2>
        <a href="http://viagraprice.biz">Ref: viagraprice.biz&nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
   </div>
     <div class="column large-4 content-panel price-comparison">
        <h1>Senjja</h1>
        <img class="senjja-image" src="{{ 'Senjja.jpg' | file_img_url: '408x296'}}"/>
        <h2>$2 per use</h2>
        <a href="{{shop.url}}/products/senjja">Shop Senjja&nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
   </div>
</div>

<!-- Shop Now --> 
<div class="row full-width content-panel-shop-now-2">
    <div class="column large-12">
        <h1>Start saving</h1>
        <a class="button standard-button" href="{{shop.url}}/products/senjja">Shop Senjja</a>
    </div>
</div>



