<!-- Senjja was built with dignity and confidence --> 
<div class="row full-width content-panel our-story-banner">
    <div class="column large-6 small-3"> 
    </div>
    <div class="column large-6 small-9 our-story-banner-caption">
        <div class="our-story-banner-caption-wrapper">
            <h1>Bringing innovation to life</h1>
            <p>Senjja is brought to you by Exia Biomedical. Our mission is to help people get the most out of life through biomedical innovation.</p>
        </div>
    </div>
</div>


<!-- What Senjja means to me --> 
<div class="row full-width content-panel one-panel-content centered-panel what-senjja-means">
    <div class="column.large-centered large-12">
        <p><span class="leonardo-da-vinci">Leonardo da Vinci</span></p>
        <p>is widely regarded as the prime exemplar of the "Renaissance Man", an 
        individual of unquenchable curiosity and feverishly inventive imagination</p>
        <p>At Exia we are inspired by da Vinci's 
        ability to blend art and technical invention with knowledge of the human form. As we seek 
        out new and innovative approaches to biomedical problems, da Vinci's legacy reminds us that
        the human elements—how it fits, how it feels, how it evokes an emotional response—are
        of paramount importance in any successful new medical product.</p>
    </div>
</div>



<!-- Our Founder --> 
<div class="row full-width about-us-in-the-beginning">
    <div class="column large-6 left-panel">
        <img src="{{ 'NigelTShirtBW.jpg' | file_img_url: '1021x976'}}"/>
    </div>
    <div class="column large-6 right-panel">
        <h1>Inspired by natural surroundings</h1>
        <p>Growing up in rural Canada before the Internet and social media, Nigel Shaw had all the time in the world to explore, play and 
        invent. Surrounded by natural raw materials, he learned to solve problems through instinct and by piecing together whatever lay at hand.
        And he learned that often the best and most elegant solutions to problems are also the simplest.</p>
        <p>As he reached middle age and hereditary high blood pressure began to affect his erectile function, he was surprised
        to find so little innovation in the field of ED.</p>
        <p>So he turned his mind to the problem, invented a uniquely simple solution, and called it Senjja.</p> 
        <p>Nigel teamed up with Mike Dunleavy, a business and legal expert, and Tony Bella, a world renowned urological surgeon and resesarcher. Together
        the team spent years refining Senjja and proving its effectiveness in clinical trials.</p>
        <p>When they realized just how well Senjja works—when they were able to help men with severe 
        erectile dysfunction to get their mojo back—that's when the dream of Senjja began to be real.</p>
        <p>Today Senjja is just getting started on an incredible journey that will, hopefully, help millions
        of men and their partner have more amazing sex, happier and healther relationships, and better lives.</p>
    </div> 
</div>
    
    
<!-- Team --> 
<div class="row full-width centered-panel-no-padding our-story-personnel">
    <h1>Meet the team</h1>
    <p>With careers in law, business, software, medicine and retail management, we share a common belief in questioning the status quo and
    asking "why" and "why not". We've come together with the common goal of making truly amazing products that change lives for the better.</p> 
</div>
<div class="row full-width centered-panel-no-padding personnel-circles">
    <div class="column large-3 small-0"> </div>
    <div class="column large-2 small-4">
        <img src="{{ 'Nigel.jpg' | file_img_url: '150x188'}}"/>
        <p>Nigel Shaw</p>
    </div>
    <div class="column large-2 small-4">
        <img src="{{ 'Jen.jpg' | file_img_url: '150x188'}}"/>
        <p>Jennifer Lowrey</p>
    </div>
    <div class="column large-2 small-4">
        <img src="{{ 'Mike.jpg' | file_img_url: '150x188'}}"/>
        <p>Mike Dunleavy</p> 
    </div>
    <div class="column large-3 small-0"> </div>
</div>

<div class="row full-width centered-panel-no-padding personnel-circles">
    <div class="column large-3 small-0"> </div>
    <div class="column large-2 small-4">
        <img src="{{ 'Tony.jpg' | file_img_url: '150x188'}}"/>
        <p>Dr. Tony Bella</p>
    </div>
    <div class="column large-2 small-4">
        <img src="{{ 'Frank.jpg' | file_img_url: '150x188'}}"/>
        <p>Frank Ferrari</p>
    </div>
    <div class="column large-2 small-4">
        <img src="{{ 'Pierre.jpg' | file_img_url: '150x188'}}"/>
        <p>Pierre Cleroux</p> 
    </div>
    <div class="column large-3 small-0"> </div>
</div> 

<div class="row full-width our-story-personnel-spacer"> </div>

<!-- Our Factory --> 
<div class="row full-width content-factory">
    <div class="column large-6 push-6 left-panel-push">
        <img src= {{ 'CleanRoom.jpg' | file_img_url: '712x712'}} )/>
    </div>
    <div class="column large-6 pull-6 right-panel-pull">
        <h1>Exacting standards</h1>
        <p>Senjja is designed in Canada and manufacutured to exacting medical grade standards using state of the 
        art technology. By working with a prototyping partner in the USA we ensure that we can rapidly translate your user feedback 
        into the best possible products both now and in the future.</p>
    </div> 
</div>



<!-- Charity
<div class="row full-width content-charity">
    <div class="column large-5 two-panel-content-image ">
        <img src="{{ 'ProstateCancerFoundation.png' | file_img_url: '150x53'}}"/>
    </div>
    <div class="column large-7 content-panel two-panel-content-image-caption">
        <h1>Help Fight Prostate Cancer</h1>
        <p>One percent of proceeds from Senjja sales are donated to the Prostate Cancer Foundation. Help fight the most
        common type of men's cancer.</p>
    </div> 
</div>
--> 

<!-- Shop Now --> 
<div class="row full-width content-panel-shop-now-4">
    <div class="column large-12">
        <h1>Don't wait</h1>
        <p>We are currently accepting pre-orders for delivery in approximately 8 weeks. Order now to reserve your delivery date.</p>
        <a class="button standard-button" href="{{shop.url}}/products/senjja">Shop Senjja</a>
    </div>
</div>


