<a name="productreviews"></a>
<!-- Product Reviews --> 
<div class="row full-width">
    <div class = "column large-12 centered-panel product-reviews-header">
        <h1>Reviews</h1>
        <p>Every review on this page is submitted by a real Senjja user. 
        In the interest of transparency, we never change reviews or use incentives to 
        influence these reviews. Here you can compare how people of different ages 
        and needs rate Senjja on comfort, ease of use, effectiveness, 
        and satisfaction.</p>
    </div>
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>

<!-- Video --> 
<div class="row full-width product-page-video-row" >
    <div class = "column large-12 centered-title-panel">
        <h1>Instructions for Use</h1>
        <p>Senjja's effectiveness comes from the unique design and the way it's used. There's nothing else
        in the world quite like Senjja.
    </div>
    <!-- Instructions for Use --> 
    <div class="column large-12 content-video">
        <!-- From EmbedResponsively.com --> 
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; 
        overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, 
        .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class='embed-container'>
        <iframe src='https://www.youtube.com/embed/dqbtaOjxzVE?rel=0&showinfo=1' frameborder='0' allowfullscreen>
        </iframe></div>
    </div>
</div>

<!-- What can I Expect? --> 
<div class="row full-width content-panel one-panel-content centered-panel what-to-expect">
    <div class="column.large-centered large-12">
        <h1>What to Expect</h1>
        <p>Senjja has been clinically proven to help some men get and keep an erection, even when other
        therapies have failed. Senjja also has been clinically proven to marginally increase penile girth, or thickness.
        Clinical trial subjects have also reported increased sensations of pleasure for both partners.</p>
    </div>
</div>

<div class="half-divider"> </div>

<!-- What makes Senjja Unique? --> 
<div class="row full-width content-panel one-panel-content centered-panel why-senjja">
    <div class="column.large-centered large-12">
        <h1>Why Senjja?</h1>
        <p>Unlike conventional penis rings ("cock rings"), Senjja's patented mechanism prevents blood
        outflow from the penis that is a common cause of ED. No other device in the world works to build and maintain a firm erection
        the same way as Senjja. 
        </p>
    </div>
</div>

<!-- Be Assured, Take Control --> 
<div class="row full-width be-assured-row">
    <div class="column large-6  left-panel">
        <img alt="" src="{{ 'Attractive_man_relaxing_after_using_Senjja.jpg' | file_img_url: '800x800'}}" alt="{{ 'Attractive man relaxing after using Senjja' | escape }}"/>
    </div>
    <div class="column large-6 right-panel">
        <h1>Be assured. Take control.</h1>
        <p>Senjja is designd to be there when you need it, and to work
        unobtrusively. Crafted with care from the purest silicone, 
        Senjja is comfortable and attractive. The seamless single-piece design 
        evokes a simple elegance that gives you assurance of confidence and control. 
        </p>
    </div> 
</div>

<!-- Live better, love better --> 
<div class="row full-width live-better-love-better-row">
    <div class="column large-6 push-6  left-panel-push">
        <img src="{{ 'Attractive_couple_relaxing_after_using_Senjja.jpg' | file_img_url: '800x800'}}" alt="{{ 'Attractive couple relaxing after using Senjja' | escape }}"/>
    </div>
    <div class="column large-6 pull-6 right-panel-pull">
        <h1>Love better. Live better.</h1>
        <p>Sex decreases stress, makes you look younger, improves your immune function, and is a natural pain reliever. 
        Love better, live better, with Senjja.
        </p>
    </div> 
</div>



<!-- What's In the Box --> 
<div class="row full-width whats-in-the-box-row">
    <div class="column large-4 push-2 whats-in-the-box-column">
        <h1>What's in the Box</h1>
        <ul>
            <li>One Senjja</li>
            <li>Detailed user instructions</li>
            <li>Coupon for $50 when you share with a friend</li>
        </ul>
    </div>
    <div class="column large-4 push-2 whats-in-the-box-column">
        <h1>Our Guarantee</h1>
        <p>Senjja will make sex more amazing for you (and your partner), or your money back.</p>
    </div>
</div>


    


